@import 'variables';

html,
body {
    $font-size: 16px;

    background-color: $color-background-brighter;
    color: $color-foreground-dark;
    font-family: Poppins;
    font-size: $font-size;
    height: 100%;
    width: 100%;
}

::selection {
    background-color: $color-brand;
    color: $color-foreground-brighter;
}