@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model SmartHotel360.PublicWeb.Models.Settings.LocalSettings
@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app" asp-prerender-module="ClientApp/dist/main-server">Loading...</div>

@section scripts {
    <script>
        window.settings = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model, Formatting.None, new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() }))');
    </script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
