@import 'mixins/icomoon';
$icons: (
    sh-smart-finde: 'e900',
    sh-smart-perso: 'e901',
    sh-smart-green: 'e902',
    sh-smart-check: 'e903',
    sh-chevron: 'e904',
    sh-air-conditioning: 'e905',
    sh-beach: 'e906',
    sh-breakfast: 'e907',
    sh-elevator: 'e909',
    sh-gym: 'e90a',
    sh-less: 'e90b',
    sh-plus: 'e90c',
    sh-pool: 'e90d',
    sh-star: 'e90e',
    sh-wifi: 'e90f',
    sh-key: 'e908',
    sh-keys: 'e910',
    sh-tick: 'e911',
    sh-map: 'e912',
    sh-board: 'e913',
    sh-projector: 'e914',
    sh-tv: 'e916',
    sh-water: 'e917',
    sh-dinner: 'e919',
    sh-lunch: 'e920',
    sh-wheelchair-accessible: 'e915',
    sh-table: 'e91a',
    sh-parking: 'e91a',
    sh-indoor-fireplace: 'e91b',
    sh-hot-tub: 'e91c',
    sh-green: 'e91d',
    sh-fitness-centre: 'e91e',
    sh-dryer: 'e91f',
    sh-bath: 'e921',
    sh-airport-shutle: 'e922',
    sh-close: 'e923',
    sh-kid-friendly: 'e924',
    sh-tweet: 'e925'
);

@include icomoon-generate($icons);
